name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: List repo structure
      run: ls -R .

    - name: Build the Docker image
      run: docker build landing_page --file landing_page/Dockerfile --tag logo1:latest
